<ul class="welcome-user">
  <h1>こんにちは、<%= current_user.username %>さん</h1>
  
    <li><%= link_to 'プロフィール変更', edit_user_registration_path,class: "footer-link" %></li>
    <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class: "footer-link"%></li>
</ul> 
