<h1>〇〇施設　養護日誌</h1>


 <div class="home">
      <%= link_to '生活状況', "/living" %>
      <%= link_to '健康状況', "/health" %>
      <%= link_to '面会状況', "/visit" %>
      <%= link_to '共有事項', "/information" %>
  </div>