    <h1>共有事項</h1>
  <tr>
    <td>
      <%= form_with model: @children_diary, :local => true do |f| %>
        <div class="field">
          <%= f.date_field :date %>
          <%= f.text_area :information %>
        </div>
        <%= f.submit "保存" %>
      <% end %>
    </td>
  </tr>
  