/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree . 
 *= require_self
 */

/*devise*/
.actions {
    text-align: center;
}

.devise-link{
  text-align: center;
  font-size: 15px;
  margin: 50px;

  
}

.notice{
  text-align: center;
  font-size: 15px;
  color: gray;
}

.headder-link{
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding:  10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #dcdcdc;
  color:black;
}

.footer{
  font-size: 15px;
  text-align: center;
  padding:  10px;
  margin-top: 45px;
  background-color: #dcdcdc;
}

.footer-link{
  font-weight: bold;
  padding:  20px;
  display: inline;
  color:black;
}

.welcome-user{
  text-align: center;
  font-size: 25px;
  color: gray;
}

/*children_diary*/

.home{
  text-align: center;
}
.home_field{
  display: inline-block;      /* インラインブロック要素にする */
    background-color:  #eae9ed;    /* 背景色指定 */
    height:  50%;             /* 高さ指定 */
    width: 40%;                 /* 幅指定 */
    margin: 15px;
    border-radius: 30px;
}

.home_field_link{
    text-align: center;
    height:  70%;             /* 高さ指定 */
    
}

.form-field{
  text-align: center;
  list-style: none;
  margin-bottom: 20px;
}

.page-name{
  text-align: center;
  margin-bottom: 40px;
}

textarea {
    height: 300px;
    width: 40%; 
    margin-bottom: 5px;
  }
  
.edit-name{
  text-align: center;
  margin-bottom: 5px;
}


.btn {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #dcdcdc;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  position: relative;
}

.btn:before {
  font-family: "FontAwesome";
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.btn:hover {
  opacity: 0.8;
}

.pdf{
  text-align: center;
}
.btn-pdf {
  display: inline-block;
  max-width: 180px;
  text-align: center;
  background-color: #dcdcdc;
  text-decoration: none;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  margin-top: 10px;
}

.btn-pdf:before {
  font-family: "FontAwesome";
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -8px;
}

.btn-pdf:hover {
  opacity: 0.8;
}


.link {
  color: black;
  font-weight: bold;
}

.index-link{
  color: black;
  font-weight: bold;
}

input[type="submit"] {
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;*/
  border: none; 
  background-color: #dcdcdc;

}

/*children_diary_index*/
.search{
  text-align: center;
  margin-bottom: 30px;
}

.seach-result{
  color: orange;
  text-align: center;
}

.pdf-link{
    text-align: center;
}

/*table*/
.table-diary{
  width: 50%;  /* 幅指定 */
}

table {
  
   text-align: center; 
   margin: auto;
   table-layout: fixed;
   width: 1000px;
}
 
th {
    background-color: #c8c9ce;  /* 背景色指定 */
    padding: 5px;
    text-align: center;
}

td {
  padding: 5px 0px;
  word-wrap: normal;
}


/*child*/

.c_signup{
  text-align: center; 
  list-style: none;
}