/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree . 
 *= require_self
 */


.headder-link{
  font-size: 15px;
  text-align: center;
  padding:  10px;
  display: flex;
  justify-content: space-evenly;
  background-color: #dcdcdc;
  color: mediumseagreen;
}

.footer{
  font-size: 15px;
  text-align: center;
  padding:  10px;
  margin-top: 45px;
  background-color: #dcdcdc;
}

.footer-link{
  padding:  10px;
  display: inline;
  margin-right: 10px;
}

.welcome-user{
  font-size: 25px;
  color: gray;
}

/*children_diary*/

.home{
  text-align: center;
}
.home_field{
  display: inline-block;      /* インラインブロック要素にする */
    background-color:  #eae9ed;    /* 背景色指定 */
    height:  50%;             /* 高さ指定 */
    width: 40%;                 /* 幅指定 */
    margin: 15px;
}

.home_field_link{
    text-align: center;
    height:  70%;             /* 高さ指定 */
    
}

.field{
  text-align: center;

}

.page-name{
  text-align: center;
}

.textarea {
    height: 100px;
    margin-bottom: 5px;
  }

/*children_diary_index*/
.diary-index{
  text-align: center;
}

.search{
  text-align: center;
}

.seach-result{
  color: orange;
  text-align: center;
}

/*table*/
.table-diary{
  width: 50%;                 /* 幅指定 */
}

table {
  
   text-align: center; 
   margin: auto;
   table-layout: fixed;
   width: 1000px;
}
 
th {
    background-color: #c8c9ce;  /* 背景色指定 */
    padding: 5px;
    text-align: center;
}

td {
  padding: 5px 0px;
  word-wrap: normal;
}
