<p>こんにちは、 <%= @resource.email %>さん!</p>

<p>ログインに失敗した回数が多すぎるため、アカウントがロックされています。</p>

<p>アカウントのロックを解除するには、以下のリンクをクリックしてください。</p>

<p><%= link_to 'ロックの解除', unlock_url(@resource, unlock_token: @token) %></p>
